<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Copy To Clipboard.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Open In Safari.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Share Gap.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5F176D73225BF73E00D41AA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F176D85225BF74000D41AA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F176D90225BF74000D41AA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F176DA6225BF7A100D41AA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
